Source: libapache2-mod-oidc
Priority: extra
Maintainer: Hans Zandbelt <hans.zandbelt@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, dh-apache2, apache2-dev, libcurl3-dev
Standards-Version: 3.9.4
Section: web
Homepage: https://code.google.com/p/pingfederate/source/browse/trunk/mod_oidc/README
#Vcs-Git: git://git.debian.org/collab-maint/libapache2-mod-oidc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libapache2-mod-oidc.git;a=summary

Package: libapache2-mod-oidc
Section: web
Architecture: any
Depends: apache2-api-20120211, ${shlibs:Depends}, ${misc:Depends}
Description: OpenID Connect authentication module for Apache
 mod-oidc is an Apache module which enables you to authenticate
 users of a web site against an OpenID Connect enabled OP. It can grant
 access to paths and provide attributes to other modules and applications.
